{{#if hasSelected}}
  {{selected.name}} <button class="btn btn-secondary" onclick={{action 'clearSelection'}}>Clear Selection</button>
  <br>
  <br>
{{/if}}

{{#each colors as |color|}}
  {{color-component color=color colorSelected=(action 'onColorSelected')}}
{{/each}}
