{{#let
  (component
    this.buttonComponent
    onClick=this.click
    loading=this.loading
    disabled=(or @disabled this.loading)
    label=@label
    type=@type
  )
  as |Button|
}}
  {{#if (has-block)}}
    <Button ...attributes>{{yield}}</Button>
  {{else}}
    <Button ...attributes />
  {{/if}}
{{/let}}