<form class="{{config.css.form}} {{if submitted 'submitted'}}" novalidate
  {{action "submit" on="submit"}}
  >
  {{yield (hash
    model=model
    input=(component 'validated-input'
      model=model
      submitted=submitted
      config=config
    )
    submit=(component 'validated-button'
      class    = submitClass
      type     = "submit"
      disabled = submitTask.isRunning
      label    = _submitLabel
    )
  )}}
</form>
