{{fork-me 'https://github.com/adfinis-sygroup/ember-validated-form'}}

<div class="container">
  <h2>
    ember-validated-form
    <small>
      <code>v{{app-version hideSha=true}}</code>
    </small>
  </h2>

  {{outlet}}
</div>
