<DocsHeader />

<DocsViewer as |viewer|>

  <viewer.nav as |nav|>
    <nav.section @label="Introduction" />
    <nav.item @label="Why?" @route="docs.index" />
    <nav.item @label="Usage" @route="docs.usage" />
    <nav.item @label="Quickstart" @route="docs.quickstart" />
    <nav.item @label="Configuration" @route="docs.configuration" />
    <nav.item @label="Customization"@route= "docs.customization" />

    <nav.section @label="Components" />
    <nav.item @label="&#123;&#123;validated-form&#125;&#125;" @route="docs.components.validated-form" />
    <nav.item @label="&#123;&#123;validated-input&#125;&#125;" @route="docs.components.validated-input" />
    <nav.item @label="&#123;&#123;validated-button&#125;&#125;" @route="docs.components.validated-button" />
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>