{{!-- BEGIN-SNIPPET custom-label-component-template.hbs --}}
<label style="color: green;" for={{@inputId}}>
  {{yield}} {{!-- Required if the label is used for a checkbox --}}
  {{@label}}
</label>
{{!-- END-SNIPPET --}}
