{{! template-lint-disable no-inline-styles }}
{{! BEGIN-SNIPPET custom-error-component-template.hbs }}
<div style="color: darkorange;">
  <br />
  {{#each @errors as |error i|}}
    <strong>&gt; Error #{{i}}:</strong>
    {{error}}<br />
  {{/each}}
</div>
{{! END-SNIPPET }}