name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: [ubuntu-latest]

    strategy:
      matrix:
        target: [js, hbs]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: yarn install

      - name: Lint ${{ matrix.target }}
        run: yarn lint:${{ matrix.target }}

  test:
    name: Tests
    needs: [lint]
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies (no lockfile)
        run: yarn install --no-lockfile

      - name: Run tests (floating dependencies)
        run: yarn test:ember

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test:ember
        env:
          COVERAGE: true

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage/lcov.info

  try-one:
    name: Additional Tests
    needs: [test]
    runs-on: [ubuntu-latest]

    strategy:
      matrix:
        scenario:
          - ember-lts-3.20
          - ember-lts-3.24
          - ember-release
          - embroider-safe

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn ember try:one ${{ matrix.scenario }}
